<div class="dashboards column">
  <div class="group_3 row">
    <div class="background_1 row">
      <div class="left column">
        <div class="row-layout_4 row">
          <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" class="avatar"></igx-avatar>
          <button igxButton="flat" [disabled]="false" class="button_1">
            <igx-icon>keyboard_arrow_down</igx-icon>
            <span>home</span>
          </button>
        </div>
      </div>
      <div class="right column">
        <div class="row-layout_5 row">
          <div class="row-layout_1 row">
            <div class="row-layout_2 row">
              <button igxButton="raised" [disabled]="false" class="button_2">
                <igx-icon>add</igx-icon>
                <span>task</span>
              </button>
            </div>
            <div class="row-layout_3 row">
              <igx-icon font="material" [active]="true" class="icon">notifications</igx-icon>
            </div>
            <igx-icon font="material" [active]="true" class="icon">mode_comment</igx-icon>
          </div>
          <div class="row-layout row">
            <igx-avatar [roundShape]="true" color="var(--igx-grays-800)" bgColor="var(--igx-grays-400)" initials="NA" size="small" class="avatar"></igx-avatar>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-layout_6 row">
    <igx-nav-drawer width="320px" [pin]="true" [pinThreshold]="1024" position="left" [isOpen]="false" class="nav-drawer">
      <ng-template igxDrawer>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">check_box</igx-icon>
          <span class="navigation-drawer">Title goes here</span>
        </span>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">dashboard</igx-icon>
          <span class="navigation-drawer">Title goes here</span>
        </span>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">directions</igx-icon>
          <span class="navigation-drawer">Title goes here</span>
        </span>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">poll</igx-icon>
          <span class="navigation-drawer">Title goes here</span>
        </span>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">folder</igx-icon>
          <span class="navigation-drawer">Title goes here</span>
        </span>
      </ng-template>
      <ng-template igxDrawerMini>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">check_box</igx-icon>
        </span>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">dashboard</igx-icon>
        </span>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">directions</igx-icon>
        </span>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">poll</igx-icon>
        </span>
        <span [isHeader]="false" igxDrawerItem>
          <igx-icon font="material" [active]="true">folder</igx-icon>
        </span>
      </ng-template>
    </igx-nav-drawer>
    <div class="group_2 column">
      <div class="background_2 column">
        <h6 class="title_1">Dashboards</h6>
        <igx-list class="listone-line-item-list">
          <igx-list-item>
            <h4 igxListLineTitle>Dashboards</h4>
            <igx-icon font="material" [active]="true" igxListAction class="icon_1">dashboard</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <h4 igxListLineTitle>Favorites</h4>
            <igx-icon font="material" [active]="true" igxListAction class="icon_1">star</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <h4 igxListLineTitle>Recent</h4>
            <igx-icon font="material" [active]="true" igxListAction class="icon_1">access_time</igx-icon>
          </igx-list-item>
          <igx-list-item>
            <h4 igxListLineTitle>Samples</h4>
            <igx-icon font="material" [active]="true" igxListAction class="icon_1">web</igx-icon>
          </igx-list-item>
        </igx-list>
      </div>
    </div>
    <div class="group column">
      <div class="background column">
        <div class="group_1 row">
          <div class="column-layout column">
            <div class="title row">
              <h5 class="title_2">Recent</h5>
            </div>
            <div class="cards row">
              <igx-card type="outlined" class="card">
                <igx-card-media height="max-content">
                  <img />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Artists Analysis</h3>
                  <h5 igxCardHeaderSubtitle>Jun 15, 2020 - Jason Anderson</h5>
                </igx-card-header>
                <igx-card-actions class="actions">
                  <button igxButton="icon" type="icon" [disabled]="false">
                    <igx-icon>star_border</igx-icon>
                  </button>
                  <button igxButton="icon" type="icon" [disabled]="false">
                    <igx-icon>share</igx-icon>
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card">
                <igx-card-media height="max-content">
                  <img />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>For evaluation</h3>
                  <h5 igxCardHeaderSubtitle>Jun 15, 2020 - Martina Roberts</h5>
                </igx-card-header>
                <igx-card-actions class="actions">
                  <button igxButton="icon" type="icon" [disabled]="false">
                    <igx-icon>star</igx-icon>
                  </button>
                  <button igxButton="icon" type="icon" [disabled]="false">
                    <igx-icon>share</igx-icon>
                  </button>
                </igx-card-actions>
              </igx-card>
              <igx-card type="outlined" class="card">
                <igx-card-media height="max-content">
                  <img />
                </igx-card-media>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>Stylescape Results</h3>
                  <h5 igxCardHeaderSubtitle>Jun 15, 2020 - Caroline Sanders</h5>
                </igx-card-header>
                <igx-card-actions class="actions">
                  <button igxButton="icon" type="icon" [disabled]="false">
                    <igx-icon>star_border</igx-icon>
                  </button>
                  <button igxButton="icon" type="icon" [disabled]="false">
                    <igx-icon>share</igx-icon>
                  </button>
                </igx-card-actions>
              </igx-card>
            </div>
          </div>
        </div>
        <button igxButton="fab" type="fab" [disabled]="false" class="button">
          <igx-icon>add</igx-icon>
        </button>
      </div>
    </div>
  </div>
</div>
