:host {
  height: 100%;
  display: flex;
  align-items: stretch;
  align-content: stretch;
}
.row-layout {
  justify-content: flex-end;
  width: 22%;
  min-width: 52px;
  min-height: 40px;
  height: 100%;
  position: relative;
}
.background {
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 1);
  height: 840px;
  min-width: 1122px;
  min-height: 840px;
  width: 100%;
  position: relative;
}
.right {
  top: 17%;
  width: 240px;
  right: 20px;
  height: 40px;
  min-width: 240px;
  position: absolute;
  min-height: 40px;
}
.my-tasks {
  left: 0;
  min-height: 900px;
  top: 0;
  position: absolute;
  min-width: 1440px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.left {
  width: 152px;
  height: 40px;
  min-width: 152px;
  min-height: 40px;
  position: relative;
}
.row-layout_1 {
  width: 85%;
  min-width: 204px;
  padding: 0 16px 0 0;
  align-items: center;
  min-height: 40px;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.row-layout_2 {
  width: 63%;
  min-width: 104px;
  padding: 2px 0;
  justify-content: center;
  min-height: 40px;
  height: 100%;
  position: relative;
}
.row-layout_3 {
  width: 27%;
  min-width: 44px;
  padding: 0 -92px 0 0;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  height: 100%;
  position: relative;
}
.group {
  width: 94%;
  height: 840px;
  min-width: 1122px;
  min-height: 840px;
  position: relative;
}
.left_1 {
  width: 90px;
  height: 28px;
  min-width: 90px;
  min-height: 28px;
  position: relative;
}
.right_1 {
  width: 404px;
  height: 36px;
  min-width: 404px;
  right: 40px;
  top: 0;
  min-height: 36px;
  position: absolute;
}
.group_1 {
  width: 59%;
  height: 672px;
  min-height: 672px;
  min-width: 642px;
  justify-content: space-between;
  position: relative;
}
.group_2 {
  width: 360px;
  height: 668px;
  min-width: 360px;
  min-height: 668px;
  right: 40px;
  top: 0;
  position: absolute;
  justify-content: space-between;
}
.group_3 {
  height: 32%;
  min-height: 212px;
  min-width: 642px;
  width: 100%;
  position: relative;
}
.group_4 {
  height: 65%;
  min-height: 436px;
  min-width: 642px;
  width: 100%;
  position: relative;
}
.background_1 {
  padding: 0 0 0 20px;
  background-color: rgba(114, 218, 103, 1);
  height: 60px;
  min-height: 60px;
  min-width: 1440px;
  align-items: center;
  width: 100%;
  position: relative;
}
.background_2 {
  padding: 28px 0 0 16px;
  background-color: rgba(0, 0, 0, 0.08);
  width: 250px;
  min-width: 250px;
  min-height: 840px;
  height: 100%;
  position: relative;
}
.group_5 {
  width: 250px;
  min-width: 250px;
  min-height: 840px;
  height: 100%;
  position: relative;
}
.group_6 {
  height: 60px;
  min-height: 60px;
  min-width: 1440px;
  width: 100%;
  position: relative;
}
.group_7 {
  height: 36px;
  padding: 0 0 0 40px;
  min-height: 36px;
  min-width: 1122px;
  align-items: center;
  width: 100%;
  position: relative;
}
.group_8 {
  height: 672px;
  min-height: 672px;
  padding: 0 0 0 40px;
  min-width: 1122px;
  width: 100%;
  position: relative;
}
.row-layout_4 {
  min-width: 152px;
  min-height: 40px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}
.row-layout_5 {
  min-width: 240px;
  min-height: 40px;
  height: 100%;
  width: 100%;
  position: relative;
}
.row-layout_6 {
  min-width: 404px;
  min-height: 36px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}
.column-layout {
  min-height: 212px;
  min-width: 642px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}
.column-layout_1 {
  min-height: 436px;
  min-width: 642px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}
.row-layout_7 {
  min-width: 1440px;
  min-height: 840px;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: relative;
}
.title {
  width: 49px;
  min-width: 49px;
  height: max-content;
  position: relative;
}
.subtitle {
  width: 73px;
  min-width: 73px;
  margin: 24px 0 0;
  color: rgba(0, 0, 0, 0.8657155797101449);
  height: max-content;
  position: relative;
}
.title_1 {
  width: 44px;
  min-width: 44px;
  margin: 32px 0 0;
  color: rgba(0, 0, 0, 0.8657155797101449);
  height: max-content;
  position: relative;
}
.title_2 {
  width: 65px;
  min-width: 65px;
  margin: 32px 0 0;
  color: rgba(0, 0, 0, 0.8657155797101449);
  height: max-content;
  position: relative;
}
.title_3 {
  width: 90px;
  min-width: 90px;
  height: max-content;
  position: relative;
}
.subtitle_1 {
  width: 123px;
  min-width: 123px;
  color: rgba(0, 0, 0, 0.8657155797101449);
  height: max-content;
  position: relative;
}
.subtitle_2 {
  width: 233px;
  min-width: 233px;
  color: rgba(0, 0, 0, 0.8657155797101449);
  height: max-content;
  position: relative;
}
.calendar {
  width: 100%;
  height: max-content;
  position: relative;
}
.title_4 {
  width: 150px;
  min-width: 150px;
  height: max-content;
  position: relative;
}
.title_5 {
  width: 138px;
  min-width: 138px;
  height: max-content;
  position: relative;
}
.avatar {
  position: relative;
}
.button {
  width: 104px;
  min-width: min-content;
  height: max-content;
  position: relative;
}
.buttonflatenabled {
  width: 80px;
  margin: 24px 0 0;
  height: max-content;
  position: relative;
}
.button_1 {
  width: 88px;
  min-width: min-content;
  height: max-content;
  position: relative;
}
.button_2 {
  width: 112px;
  min-width: min-content;
  height: max-content;
  position: relative;
}
.button_3 {
  width: 100px;
  min-width: min-content;
  height: max-content;
  position: relative;
}
.button_4 {
  width: 96px;
  height: max-content;
  position: relative;
}
.button_5 {
  width: 12%;
  height: max-content;
  position: relative;
}
.buttonflatenabled_1 {
  margin: 24px 0 0;
}
.button_6 {
  min-width: min-content;
}
.icon-button {
  position: relative;
}
.nav-drawer {
  width: 320px;
  min-width: min-content;
}
.icon {
  position: relative;
  min-width: min-content;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.navigation-drawer {
  text-overflow: ellipsis;
  overflow: hidden;
}
.icon_1 {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.list {
  margin: 16px 0 0;
  width: 218px;
  position: relative;
  height: auto;
}
.list_1 {
  width: 100%;
  position: relative;
  height: auto;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
